{{ define "title" }}Home{{ end }}

{{ define "main" }}
    {{ if .Sources }}
    <div class="homeLimits">
        <table class="homeTable">
            <tr id="brdBttn">
                <th>Name</th>
                <th class="rightAlign">Created</th>
            </tr>
            {{ range .Sources }}
            <tr>
                <td><a href="/source/view/{{ .ID }}">{{ .Name }}</a></td>
                <td class="rightAlign">{{ humanDate .Created }}</td>
            </tr>
            {{ end }}
        </table>
        {{ else }}
        <p>Poste prope...</p>
        {{ end }}
    </div>
{{ end }}