{{ define "title" }} Home {{ end }}

{{ define "nav" }}

<nav id="navHome">
  <div>
    <a href="/"><img class="iconeWidth" src="/static/img/icone_maison.png" /></a>
  </div>
  {{ if .IsAuthenticated }}
  <div>
    <a href="/source/create"><img class="iconeWidth" src="/static/img/icone_ps.png" /></a>

    <form id="getFile" enctype="multipart/form-data" action="//localhost:8080/importCSV" method="POST">
      <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
      <label class="custom-file-button">
	<input id="importCSV" type="file" accept=".csv" name="inpt">
	<img class="iconeWidth" src="/static/img/icone_import2.png">
      </label>
    </form>
    <a href="//localhost:8080/exportCSV">
      <img class="iconeWidth" src="/static/img/icone_export2.png" />
    </a>

    <a href="/user/profile" class="user_div"><img class="iconeWidth" src="/static/img/icone_user.png" /></a>
  </div>
  <div class="user_div">
    <form class="user" action="/user/logout" method="POST">
      <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
      <button type="submit" class="logout">
	Déconnexion
    </form>
  </div>
  {{ else }}
  <div></div>
  <div class="user_div">
    <a class="user" href="/user/signup">Créer compte</a>
    <a class="user" href="/user/login">Connexion</a>
  </div>
  {{ end }}

</nav>
{{ end }}

{{ define "main" }}
<!-- main -->

{{ if .Sources }}
<!-- if Sources -->
<div class="myGrid">
  <div class="grid-container is-desktop">
    {{ range .Sources }}
    <!-- Sources loop -->

    <div>
      <form action="/source/view/{{ .ID }}" method="get">
	{{ if .ID }}
	<!-- if ID -->

	<!-- ge: Greater Equal
	     le: Lesser Equal  -->
	{{ if and (ge .Average 0) (le .Average 19) }}
	<!-- if curatif -->
	<button name="{{ .Curatifs }}" class="button-large red-btn">
	  <span class="is-size-5">
	    {{ .Name }}
	    <!-- {{ .Diff }} -->
	  </span>
	</button>

	{{ else if and (ge .Average 20) (le .Average 39) }}
	<button name="{{ .Curatifs }}" class="button-large orange-btn">
	  <span class="is-size-5">
	    {{ .Name }}
	    <!-- {{ .Diff }} -->
	  </span>
	</button>

	{{ else if and (ge .Average 40) (le .Average 59) }}
	<button name="{{ .Curatifs }}" class="button-large yellow-btn">
	  <span class="is-size-5">
	    {{ .Name }}
	    <!-- {{ .Diff }} -->
	  </span>
	</button>

	{{ else if and (ge .Average 60) (le .Average 79) }}
	<button name="{{ .Curatifs }}" class="button-large blue-btn">
	  <span class="is-size-5">
	    {{ .Name }}
	    <!-- {{ .Diff }} -->
	  </span>
	</button>

	{{ else if and (ge .Average 80) (le .Average 99) }}
	<button name="{{ .Curatifs }}" class="button-large turquoise-btn">
	  <span class="is-size-5">
	    {{ .Name }}
	    <!-- {{ .Diff }} -->
	  </span>
	</button>

	{{ else if (eq .Average 100) }}
	<button name="{{ .Curatifs }}" class="button-large green-btn">
	  <span class="is-size-5">
	    {{ .Name }}
	    <!-- {{ .Diff }} -->
	  </span>
	</button>
	{{ end }}
	<!-- if curatif end -->

	{{ end }}
	<!-- if ID end -->
      </form>
    </div>

    {{ end }}<!-- Sources loop end -->
  </div>
  <div id="myPlot">
    <script src="/static/js/graph.js"></script>
  </div>
</div>

{{ end }}
<!-- if Sources end -->

{{ end }}
<!-- main end -->
