{{ define "title" }}Info #{{ .Info.ID }}{{ end }}

{{ define "nav" }}
<nav>
  <a href="/"><img class="iconeWidth"
                   src="/static/img/icone_maison.png">
  </a>
  <a href="/source/view/{{ .Info.SourceID }}">
    <img class="iconeWidth" src="/static/img/icone_fleche.png">
  </a>
  <a href="/source/{{ .Info.SourceID }}/info/update/{{ .Info.ID }}">
    <img class="iconeWidth" src="/static/img/icone_edition.png">
  </a>
</nav>
{{ end }}

{{ define "main" }}
{{ with .Info }}

{{ $att := eq .Status "en attente" }}
{{ $aff := eq .Status "affecté" }}
{{ $res := eq .Status "résolu"}}
{{ $arch := eq .Status "archivé"}}

<div id="srcName">
  <table>
    <tr>
      <th class="leftAlign"><strong>{{ .Material }}</strong></th>

      <!-- Status Colors -->
      {{ if $att }}
      <th colspan="2" id="statusWait">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}

      {{ if $aff }}
      <th colspan="2" id="statusAffected">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}

      {{ if $res }}
      <th colspan="2" id="statusDone">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}

      {{ if $arch }}
      <th colspan="2" id="statusArchived">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}
      <!-- End Status Colors -->

    </tr>
    <!-- </table> -->
  <!-- <table class="infoData"> -->
    <tr>
      <th class="leftAlign">Agent</th>
      <th></th>
      <th class="rightAlign">Réparé par</th>
    </tr>
    <tr>
      <td>{{ .Agent }}</td>
      <td></td>
      <td class="rightAlign">{{ .Doneby }}</td>
    </tr>
    <tr>
      <th class="centerAlign" colspan="3">Détail</th>
    </tr>
    <tr>
      <td colspan="3">{{ .Detail }}</td>
    </tr>
    <tr class="infoHeader">
      <th>Evénement</th>
      <th class="centerAlign">Priorité</th>
      <th class="rightAlign">OUPS</th>
    </tr>
    <tr>
      {{ if .Event }}
      <td>{{ .Event }}</td>
      {{ else }}
      <td>-</td>
      {{ end }}

      <td class="centerAlign">{{ .Priority }}</td>

      {{ if .Oups }}
      <td class="rightAlign">{{ .Oups }}</td>
      {{ else }}
      <td class="rightAlign">-</td>
      {{ end }}
    </tr>
    <tr>
      <th>Action<br />AMEPS</th>
      <th class="centerAlign">Action<br />BRIPS</th>
      <th class="rightAlign">Action<br />RTE</th>
    </tr>
    <tr>
      {{ if .Ameps }}
      <td>{{ .Ameps }}</td>
      {{ else }}
      <td>-</td>
      {{ end }}

      {{ if .Brips }}
      <td class="centerAlign">{{ .Brips }}</td>
      {{ else }}
      <td class="centerAlign">-</td>
      {{ end }}

      {{ if .Rte }}
      <td class="rightAlign">{{ .Rte }}</td>
      {{ else }}
      <td class="rightAlign">-</td>
      {{ end }}
    </tr>
    <tr>
      <th>Action<br />AIS</th>
      <th class="centerAlign">Devis</th>
      <th class="rightAlign">Date de Prévue</th>
    </tr>
    <tr>
      {{ if .Ais }}
      <td>{{ .Ais }}</td>
      {{ else }}
      <td>-</td>
      {{ end }}

      {{ if .Estimate }}
      <td class="centerAlign">{{ .Estimate }}</td>
      {{ else }}
      <td class="centerAlign">-</td>
      {{ end }}

      {{ if .Target}}
      <td class="rightAlign">{{ .Target }}</td>
      {{ else }}
      <td class="rightAlign">Pas de date de prévue</td>
      {{ end }}
    </tr>
  </table>

  <div id="infoDate">
    <time>Créé le: {{ humanDate .Created }}</time>
    {{ if eq .Updated .ZeroTime }}
    {{ else }}
    <!-- TODO: Find a better solution -->
    <time style="padding: 0 0 0 50.8%;">
      Mis à jour le: {{ humanDate .Updated }}</time>
    {{ end }}
  </div>
</div>
{{ end }}

<div id="container">
  <form action="/source/{{ .Info.SourceID }}/info/delete/{{ .Info.ID }}"
        method="POST">
    <!-- <button type="submit" id="wastebin">&#128465;</button> -->
    <button type="submit" id="wastebinBtn">
      <img id="wastebin" src="/static/img/icone_corbeille.png">
  </form>
</div>
{{ end }}
