{{ define "title" }}Créer nouvelle info{{ end }}

{{ define "nav" }}
<nav>
  <a href="/">
    <img class="iconeWidth" src="/static/img/icone_maison.png">
  </a>
  <a href="/source/view/{{ .Source.ID }}">
    <img class="iconeWidth" src="/static/img/icone_fleche.png">
  </a>
</nav>
{{ end }}

{{ define "main" }}
<div id="srcName">
  <form method="POST">
    <table>
      <tr>
        <th class="leftAlign">
          Demandeur<span style="color: red">*</span>
        </th>
        <th colspan="2" class="rightAlign">Réparé par</th>
      </tr>
      <tr>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="agent" onsubmit="required()">
        </td>
        <td></td>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="doneby">
        </td>
      </tr>
      <tr>
        <th class="leftAlign">
          Ouvrage<span style="color: red">*</span>
        </th>
        <th colspan="2" class="centerAlign">
          Détail<span style="color: red">*</span>
        </th>
      </tr>
      <tr>
        <td>
          <div>
            <input placeholder="..." class="infoInpt" type="text"
                   name="material">
          </div>
        </td>
        <td colspan="2">
          <input placeholder="..." class="infoInpt" type="text"
                 name="detail">
        </td>
      </tr>
      <tr>
        <th>
          Evénement<span style="color: red">*</span>
        </th>
        <th class="centerAlign">
          Priorité<span style="color: red">*</span>
        </th>
        <th class="rightAlign">OUPS</th>
      </tr>
      <tr>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="event">
        </td>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="priority">
        </td>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="oups">
        </td>
      </tr>
      <tr>
        <th>Action AMEPS</th>
        <th class="centerAlign">Action BRIPS</th>
        <th class="rightAlign">Action RTE</th>
      </tr>
      <tr>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="ameps">
        </td>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="brips">
        </td>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="rte">
        </td>
      <tr>
        <th>Action AIS</th>
        <th class="centerAlign">Devis</th>
        <th class="rightAlign">Date de Prévue</th>
      </tr>
      <tr>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="ais">
        </td>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="estimate">
        </td>
        <td>
          <input placeholder="..." class="infoInpt" type="text"
                 name="target">
        </td>
      </tr>
      <tr>
        <th>
          <label>Status<span style="color: red">*</span></label>
        </th>
      <tr>

      </tr>
      <td colspan="3">
        <input type="radio" name="status"
               value="en attente" checked>en attente

        <input type="radio" name="status"
               value="affecté">affecté

        <input type="radio" name="status"
               value="résolu">résolu

        <input type="radio" name="status"
               value="archivé">archivé
      </td>
      </tr>
      <th id="btnpad">
        <button type="submit" id="srcBtn">Soumettre</button>
      </th>
      <span style="color: red">*</span>Infos obligatoires
      </tr>
    </table>
  </form>
</div>
{{ end }}
