{{ define "title" }}Créer nouvelle info{{ end }}

{{ define "nav" }}
<nav>
    <a href="/"><img class="iconeWidth" src="/static/img/icone_maison.png"></a>
    <a href="/source/view/{{ .Source.ID }}"><img class="iconeWidth" src="/static/img/443073.png"></a>
</nav>
{{ end }}

{{ define "main" }}
<div id="srcName">
    <form method="POST">
        <table>
            <tr>
                <th colspan="2">Agent</th>
                <th>Ouvrage</th>
            </tr>
            <tr>

                <td colspan="2">
                    {{ with .Form.FieldErrors.agent }}
                        <label class="error">{{ . }}</label>
                    {{ end }}
                    <input placeholder=">" class="infoInpt" type="text" name="agent">
                </td>
                <td>
                    {{ with .Form.FieldErrors.material }}
                        <label class="error">{{ . }}</label>
                    {{ end }}
                    <input placeholder=">" class="infoInpt" type="text" name="material">
                </td>
            </tr>
            <tr>
                <th colspan="3">Détail</th>
            </tr>
            <tr>

                <td colspan="3">
                    {{ with .Form.FieldErrors.detail }}
                        <label class="error">{{ . }}</label>
                    {{ end }}
                    <input placeholder=">" class="infoInpt" type="text" name="detail">
                </td>
            </tr>
            <tr>
                <th>Evénement</th>
                <th class="centerAlign">Priorité</th>
                <th class="rightAlign">OUPS</th>
            </tr>
            <tr>
                <td>
                    {{ with .Form.FieldErrors.event }}
                        <label class="error">{{ . }}</label>
                    {{ end }}
                    <input placeholder=">" class="infoInpt" type="text" name="event">
                </td>
                <td>
                    {{ with .Form.FieldErrors.priority }}
                        <label class="error">{{ . }}</label>
                    {{ end }}
                    <input placeholder=">" class="infoInpt" type="text" name="priority">
                </td>
                <td>
                    <input placeholder=">" class="infoInpt" type="text" name="oups">
                </td>
            </tr>
            <tr>
                <th>AMEPS</th>
                <th class="centerAlign">BRIPS</th>
                <th class="rightAlign">RTE</th>
            </tr>
            <tr>
                <td>
                    <input placeholder=">" class="infoInpt" type="text" name="ameps">
                </td>
                <td>
                    <input placeholder=">" class="infoInpt" type="text" name="brips">
                </td>
                <td>
                    <input placeholder=">" class="infoInpt" type="text" name="rte">
                </td>
                <tr>
                    <th>AIS</th>
                    <th class="centerAlign">Devis</th>
                    <th class="rightAlign">Date de Prévue</th>
                </tr>
                <tr>
                    <td>
                        <input placeholder=">" class="infoInpt" type="text" name="ais">
                    </td>
                    <td>
                        <input placeholder=">" class="infoInpt" type="text" name="estimate">
                    </td>
                    <td>
                        <input placeholder=">" class="infoInpt" type="text" name="target">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Status</label>
                    </th>
                <tr>
                    
                </tr>
                    <td colspan="3">
                        <input type="radio" name="status" value="en attente" checked>en attente
                        <input type="radio" name="status" value="affecté">affecté
                        <input type="radio" name="status" value="résolu">résolu
                        <input type="radio" name="status" value="archivé">archivé
                    </td>
                </tr>
                <th id="btnpad">
                    <button type="submit" id="srcBtn">Soumettre</button>
                </th>
            </tr>
        </table> 
    </form>
</div>
{{ end }}