{{ define "title" }}Info #{{ .Info.ID }}{{ end }}

{{ define "nav" }}
<nav id="navHome">
  <div>
    <a href="/"><img class="iconeWidth"
      src="/static/img/icone_maison.png"></a>
  </div>
  <div>
    <a href="/source/{{ .Info.SourceID}}/info/view/{{ .Info.ID }}">
      <img class="iconeWidth" src="/static/img/icone_fleche.png">
    </a>
  </div>
</nav>
{{ end }}

{{ define "main" }}
<div id="srcName">
  <form action="/source/{{ .Info.SourceID }}/info/update/{{ .Info.ID }}"
    method="POST">
    <table>
      <tr>
        <th>
          Ouvrage
        </th>
        <th colspan="2" class="center-text">
          Détail
        </th>
      </tr>

      <tr>
        <td>
          <div>
            <input class="input" value="{{ .Info.Ouvrage }}"
              type="text" name="ouvrage" required>
          </div>
        </td>
        <td colspan="2">
          <textarea class="textarea" type="text" name="detail" required>{{ .Info.Detail }}</textarea>
        </td>
      </tr>

      <tr>
        <th class="center-text">Evénement</th>
        <th class="center-text">Priorité</th>
        <th class="center-text">Echéance</th>
      </tr>

      <tr>
        <td>
          <input class="input" value="{{ .Info.Evenement }}"
            type="text" name="evenement" required>
        </td>
        <td>
          <input class="input" value="{{ .Info.Priorite }}"
            type="text" name="priorite" required>
        </td>
        <td>
          <input class="input" placeholder="jj/mm/aaaa"
          value="{{ .Info.Echeance }}"
          type="text" name="echeance">
        </td>
      </tr>

      <tr>
      </tr>

      <tr>
        <td></td>
      </tr>

      <tr>
        <th colspan="3" class="center-text">Commentaire</th>
      </tr>
      <tr></tr>
        <td colspan="3">
          <textarea class="textarea" type="text" name="commentaire">{{
          .Info.Commentaire }}</textarea>
      <tr>
        <th colspan="3">
          <label>Status</span></label>
        </th>
      </tr>

      <tr>
        <td colspan="3" class="control">
          <label class="radio">
            <input type="radio" name="status"
              value="A réaliser" checked>
              A réaliser
          </label>

          <label class="radio">
            <input type="radio" name="status"
              value="En cours">
              En cours
          </label>
          <label class="radio">
            <input type="radio" name="status"
              value="Réalisée">
              Réalisée
          </label>
          <label class="radio">
            <input type="radio" name="status"
              value="archivée">
              archivée
          </label>
        </td>
      </tr>

      <th id="btnpad" colspan="3">
        <button type="submit" class="button is-primary is-light is-medium blockmargin">Soumettre</button>
      </th>
    </table>
  </form>
</div>
{{ end }}
