{{ define "title" }}Info #{{ .Info.ID }}{{ end }}

{{ define "nav" }}
<nav id="navHome">
  <div>
  <a href="/"><img class="iconeWidth"
                   src="/static/img/icone_maison.png"></a>
  </div>
  <div>
    <a href="/source/{{ .Info.SourceID}}/info/view/{{ .Info.ID }}">
      <img class="iconeWidth" src="/static/img/icone_fleche.png">
    </a>
  </div>
</nav>
{{ end }}

{{ define "main" }}
<div id="srcName">
  <form action="/source/{{ .Info.SourceID }}/info/update/{{ .Info.ID }}"
        method="POST">
    <table>
      <tr>
        <th class="leftAlign">
          Demandeur<span style="color: red">*</span>
        </th>
        <th colspan="2" class="rightAlign">Réparé par</th>
      </tr>
      <tr>
        <td>
          <input value="{{ .Info.Agent }}"
                 class="infoInpt" type="text" name="agent" autofocus>
        </td>
        <td></td>
        <td>
          <input value="{{ .Info.Doneby }}"
            class="infoInpt" type="text" name="doneby">
        </td>
      </tr>
      <tr>
        <th class="leftAlign">
          Ouvrage<span style="color: red">*</span>
        </th>
        <th colspan="2" class="centerAlign">
          Détail<span style="color: red">*</span>
        </th>
      </tr>
      <tr>
        <td>
          <div>
            <input class="infoInpt" value="{{ .Info.Material }}"
                   type="text" name="material">
          </div>
        </td>
        <td colspan="2">
          <input class="infoInpt" value="{{ .Info.Detail }}"
                 type="text" name="detail">
        </td>
      </tr>
      <tr>
        <th>
          Evénement<span style="color: red">*</span>
        </th>
        <th class="centerAlign">
          Priorité<span style="color: red">*</span>
        </th>
        <th class="rightAlign">OUPS</th>
      </tr>
      <tr>
        <td>
          <input class="infoInpt" value="{{ .Info.Event }}"
                 type="text" name="event">
        </td>
        <td>
          <input class="infoInpt" value="{{ .Info.Priority}}"
                 type="text" name="priority">
        </td>
        <td>
          <input class="infoInpt" value="{{ .Info.Oups }}"
                 type="text" name="oups">
        </td>
      </tr>
      <tr>
        <th>Action<br />AMEPS</th>
        <th class="centerAlign">Action<br />BRIPS</th>
        <th class="rightAlign">Action<br />RTE</th>
      </tr>
      <tr>
        <td>
          <input class="infoInpt" value="{{ .Info.Ameps }}"
                 type="text" name="ameps">
        </td>
        <td>
          <input class="infoInpt" value="{{ .Info.Brips }}"
                 type="text" name="brips">
        </td>
        <td>
          <input class="infoInpt" value="{{ .Info.Rte }}"
                 type="text" name="rte">
        </td>
      <tr>
        <th>Action<br />AIS</th>
        <th class="centerAlign">Devis</th>
        <th class="rightAlign">Date de Prévue</th>
      </tr>
      <tr>
        <td>
          <input class="infoInpt" value="{{ .Info.Ais }}"
                 type="text" name="ais">
        </td>
        <td>
          <input class="infoInpt" value="{{ .Info.Estimate }}"
                 type="text" name="estimate">
        </td>
        <td>
          <input class="infoInpt" placeholder="jj/mm/aaaa"
                 value="{{ .Info.Target }}"
                 type="text" name="target">
        </td>
      </tr>
      <tr>
        <th>
          <label>Status<span style="color: red">*</span></label>
        </th>
      <tr>

      </tr>
      <td colspan="3">
        <input type="radio" name="status"
               value="en attente" checked>en attente

        <input type="radio" name="status"
               value="affecté">affecté

        <input type="radio" name="status"
               value="résolu">résolu

        <input type="radio" name="status"
               value="archivé">archivé
      </td>
      </tr>
      <th id="btnpad">
        <button type="submit" id="srcBtn">Soumettre</button>
      </th>
      <span style="color: red">*</span>Infos obligatoires
      </tr>
    </table>
  </form>
</div>
{{ end }}
