{{ define "title" }}Info #{{ .Info.ID }}{{ end }}

{{ define "nav" }}
<nav id="navHome">
  <div>
    <a href="/"><img class="iconeWidth"
                     src="/static/img/icone_maison.png">
    </a>
  </div>
  <div>
    <a href="/source/view/{{ .Info.SourceID }}">
      <img class="iconeWidth" src="/static/img/icone_fleche.png">
    </a>
    <a href="/source/{{ .Info.SourceID }}/info/update/{{ .Info.ID }}">
      <img class="iconeWidth" src="/static/img/icone_edition.png">
    </a>
  </div>
  <form action="/source/{{ .Info.SourceID }}/info/delete/{{ .Info.ID }}"
      method="POST">
  <button type="submit" class="delete-btn">
    <img class="delete-img" src="/static/img/icone_corbeille.png">
</form>
</nav>
{{ end }}

{{ define "main" }}
{{ with .Info }}

{{ $att := eq .Status "en attente" }}
{{ $aff := eq .Status "affecté" }}
{{ $res := eq .Status "résolu"}}
{{ $arch := eq .Status "archivé"}}

<div id="srcName">
  <table>
    <tr>
      <th><strong>{{ .Ouvrage }}</strong></th>

      <!-- Status Colors -->
      {{ if $att }}
      <th colspan="2" id="statusWait" class="statusWait">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}

      {{ if $aff }}
      <th colspan="2" id="statusAffected" class="statusAffected">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}

      {{ if $res }}
      <th colspan="2" id="statusDone" class="statusDone">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}

      {{ if $arch }}
      <th colspan="2" id="statusArchived" class="statusArchived">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}
      <!-- End Status Colors -->

    </tr>
    <!-- </table> -->
  <!-- <table class="infoData"> -->
    <tr>
      <th>Agent</th>
      <th></th>
      <th class="right-text">Réparé par</th>
    </tr>
    <tr>
      <td>{{ .Agent }}</td>
      <td></td>
      <td class="right-text">{{ .FaitPar }}</td>
    </tr>
    <tr>
      <th class="center-text" colspan="3">Détail</th>
    </tr>
    <tr>
      <td colspan="3">{{ .Detail }}</td>
    </tr>
    <tr class="infoHeader">
      <th>Evénement</th>
      <th colspan="2" class="right-text">Priorité</th>
      <!-- <th class="right-text">OUPS</th> -->
    </tr>
    <tr>
      {{ if .Evenement }}
      <td>{{ .Evenement }}</td>
      {{ else }}
      <td>-</td>
      {{ end }}

      <td></td>

      <td class="right-text">{{ .Priorite }}</td>

    </tr>
    <tr>
      <th>Devis</th>
      <th colspan="2" class="right-text">Date de Prévue</th>
    </tr>
    <tr>
      {{ if .Devis }}
      <td>{{ .Devis }}</td>
      {{ else }}
      <td>-</td>
      {{ end }}

      {{ if .DatePrevue }}
      <td colspan="2" class="right-text">{{ .DatePrevue }}</td>
      {{ else }}
      <td colspan="2" class="right-text">Pas de date de prévue</td>
      {{ end }}
    </tr>

    <tr>
      <th colspan="3" class="center-text">Commentaire</th>
    </tr>
    {{ if .Commentaire }}
    <tr>
      <td colspan="3" class="center-text">{{ .Commentaire }}</td>
    </tr>
    {{ else }}
    <tr>
      <td colspan="3">-</td>
    </tr>
    {{ end }}

    <tr>
      {{ if eq .Updated .ZeroTime }}
      <td colspan="3">
        <time>Créé le: {{ humanDate .Created }}</time>
      </td>
      {{ else }}
      <td colspan="2">
        <time>Créé le: {{ humanDate .Created }}</time>
      </td>
        <!-- TODO: Find a better solution -->
      <td class="right-text">
        <time>
          Mis à jour le: {{ humanDate .Updated }}</time>
        {{ end }}
      </td>
    </tr>
  </table>
</div>
{{ end }}




{{ end }}
