{{ define "title" }}Info #{{ .Info.ID }}{{ end }}

{{ define "nav" }}
<nav id="navHome">
  <div>
    <a href="/"><img class="iconeWidth"
                     src="/static/img/icone_maison.png">
    </a>
  </div>
  <div>
    <a href="/source/view/{{ .Info.SourceID }}">
      <img class="iconeWidth" src="/static/img/icone_fleche.png">
    </a>
    <a href="/source/{{ .Info.SourceID }}/info/update/{{ .Info.ID }}">
      <img class="iconeWidth" src="/static/img/icone_edition.png">
    </a>
  </div>
  <form action="/source/{{ .Info.SourceID }}/info/delete/{{ .Info.ID }}"
      method="POST">
  <button type="submit" class="delete-btn">
    <img class="delete-img" src="/static/img/icone_corbeille.png">
</form>
</nav>
{{ end }}

{{ define "main" }}
{{ with .Info }}

{{ $aRealiser := eq .Status "A réaliser" }}
{{ $enCours := eq .Status "En cours" }}
{{ $rese := eq .Status "Réalisée" }}
{{ $arche := eq .Status "Archivée" }}

<div id="srcName">
  <table>
    <tr>
      <th><strong>{{ .Ouvrage }}</strong></th>
      <th></th>

      <!-- Status Colors -->
      {{ if $aRealiser }}
      <th id="statusWait" class="statusWait">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}

      {{ if $enCours }}
      <th id="statusAffected" class="statusAffected">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}

      {{ if $rese }}
      <th id="statusDone" class="statusDone">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}

      {{ if $arche }}
      <th id="statusArchived" class="statusArchived">
        <strong>Status: </strong>{{ .Status }}</th>
      {{ end }}
      <!-- End Status Colors -->

    </tr>
    <!-- </table> -->
  <!-- <table class="infoData"> -->
    <tr>
      <th class="center-text" colspan="3">Détail</th>
    </tr>
    <tr>
      <td colspan="3">{{ .Detail }}</td>
    </tr>
    <tr class="infoHeader">
      <th>Evénement</th>
      <th class="center-text">Priorité</th>
      <th class="center-text">Echéance</th>
    </tr>
    <tr>
      {{ if .Evenement }}
      <td>{{ .Evenement }}</td>
      {{ else }}
      <td>-</td>
      {{ end }}

      <td class="center-text">P{{ .Priorite }}</td>

      {{ if .Echeance }}
      <td class="center-text">{{ .Echeance }}</td>
      {{ else }}
      <td class="center-text">Pas de date de prévue</td>
      {{ end }}

    <tr>
      <th colspan="3" class="center-text">Commentaire</th>
    </tr>
    {{ if .Commentaire }}
    <tr>
      <td colspan="3" class="center-text">{{ .Commentaire }}</td>
    </tr>
    {{ else }}
    <tr>
      <td colspan="3">-</td>
    </tr>
    {{ end }}

    <tr>
      {{ if eq .Updated .ZeroTime }}
      <td colspan="3">
        <time>Créé le: {{ humanDate .Created }}</time>
      </td>
      {{ else }}
      <td colspan="2">
        <time>Créé le: {{ humanDate .Created }}</time>
      </td>
        <!-- TODO: Find a better solution -->
      <td class="center-text">
        <time>
          Mis à jour le: {{ humanDate .Updated }}</time>
        {{ end }}
      </td>
    </tr>
  </table>
</div>
{{ end }}
{{ end }}
