{{ define "title" }}Créer nouvelle info{{ end }}

{{ define "nav" }}
<nav id="navHome">
  <div>
    <a href="/">
      <img class="iconeWidth" src="/static/img/icone_maison.png">
    </a>
  </div>
  <div>
    <a href="/source/view/{{ .Source.ID }}">
      <img class="iconeWidth" src="/static/img/icone_fleche.png">
    </a>
  </div>
</nav>
{{ end }}

{{ define "main" }}
<div id="srcName">

  <form method="POST" name="infoInpt">
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
    <table>
      <tr>
        <th colspan="2" class="center-text">Ouvrage</th>
        <th class="center-text">Date de création</th>
      </tr>
      <tr>
        <td colspan="2">
            <input placeholder="..." class="inpt" type="text" name="ouvrage" id="ouvrage" autofocus>
        </td>
        <td>
          <input placeholder="..." class="inpt" type="text" name="created" id="created">
        </td>
      </tr>
      <tr>
        <th class="center-text">Evénement</th>
        <th colspan="2" class="center-text">Détail</th>
      </tr>
      <tr>
        <td>
          <textarea class="textarea" name="evenement" id="evenement" placeholder="..."></textarea>
        </td>
        <td colspan="2">
          <textarea class="textarea" name="detail" id="detail" placeholder="..." ></textarea>
        </td>
      </tr>
      <tr>
        <th class="center-text">Entité</th>
        <th class="center-text">Priorité</th>
        <th class="center-text">Echéance</th>
      </tr>
      <tr>
        <td>
          <input placeholder="..." class="inpt" type="text"
                 name="entite" id="entite" >
        </td>
        <td>
          <input placeholder="..." class="inpt" type="text"
                 name="priorite" id="priorite" >
        </td>
        <td>
          <input placeholder="..." class="inpt" type="text" name="echeance" id="echeance">
        </td>
      </tr>
      <tr>
        <th colspan="3" class="center-text">Commentaire</th>
      </tr>
      <tr>
        <td colspan="3">
          <textarea placeholder="..." class="textarea" name="commentaire" id="commentaire"></textarea>
        </td>
      </tr>
      <tr>
        <th class="center-text" colspan="3">
          <label>Statut</label>
        </th>
      </tr>
      <tr>
        <td colspan="3" class="control">
          <label class="radio">
            <input type="radio" name="status"
                   value="A réaliser" checked>
            A réaliser
          </label>

          <label class="radio">
            <input type="radio" name="status"
                   value="En cours">
            En cours
          </label>
          <label class="radio">
            <input type="radio" name="status"
              value="Réalisé">
            Réalisé
          </label>
          <label class="radio">
            <input type="radio" name="status"
                   value="archivé">
            archivé
          </label>
        </td>
      </tr>
      <th id="btnpad" colspan="3">
        <button type="submit" class="button is-primary is-light is-medium blockMargin">Soumettre</button>
      </th>
      </tr>
    </table>
  </form>
</div>
{{ end }}
