{{ define "title" }}Login{{ end }} {{ define "nav"}} {{ end }} {{ define "main" }}
<form action="/user/login" method="POST" novalidate>
  <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
  <div class="center-text">
    {{ range .Form.NonFieldErrors }}
    <div class="error">{{ . }}<br />
    {{ end }}
    <label>NNI:</label><br />
    {{ with .Form.FieldErrors.nni }}
    <label class="error">{{ . }}</label>
    {{ end }}
    <input type="text" name="nni" value="{{ .Form.NNI }}" autofocus required />
  </div>
  <div class="center-text">
    <label>Password:</label><br />
    {{ with .Form.FieldErrors.password }}
    <label class="error">{{ . }}</label>
    {{ end }}
    <input type="password" name="password" required />
  </div>
  <br />
  <div class="center-text">
    <input type="submit" value="Connexion" />
  </div>
</form>
{{ end }}
