{{define "title"}}Login{{end}} {{ define "nav"}} {{ end }} {{define "main"}}
<form action="/user/login" method="POST" novalidate>
  <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
  <div class="center-text">
    <label>NNI:</label><br />
    <input type="text" name="nni" autofocus required />
  </div>
  <div class="center-text">
    <label>Password:</label><br />
    <input type="password" name="password" required />
  </div>
  <br />
  <div class="center-text">
    <input type="submit" value="Connexion" />
  </div>
</form>
{{end}}
