{{ define "title" }}{{ .Source.Name }}{{ end }}

{{ define "nav" }}
<nav id="navHome">
  <div>
    <a href="/"><img class="iconeWidth"
                     src="/static/img/icone_maison.png">
    </a>
  </div>
  <div>
    <a href="/source/update/{{ .Source.ID }}"><img class="iconeWidth" src="/static/img/icone_edition.png"></a>
  </div>
</nav>
{{ end }}

{{ define "main" }}

{{ with .Source }}
<div class="margin">
  <h2 class="ps-title">{{ .Name }}</h2>
  <br>
  {{ end }}
  <div>

    {{ if .Infos }}
    <input class="search-info top-margin" id="searchStatus" onkeyup="searchStatus()"
           placeholder="Chercher des status...">
    <table id="myTable">
    <!-- id @ "Home Page section" border-bottom -->


    <tr>
      <th class="left-text"><strong>Ouvrage</strong></th>
      <th class="center-text"><strong>Priorité</strong></th>
      <th class="right-text"><strong>Status</strong></th>
    </tr>
    <!-- Infos table -->
    {{ range .Infos }}

    {{ $att := eq .Status "en attente" }}
    {{ $aff := eq .Status "affecté" }}
    {{ $res := eq .Status "résolu" }}
    {{ $arch := eq .Status "archivé" }}

    <tr>
      <td class="left-text"><a href="/source/{{ .SourceID }}/info/view/{{ .ID }}">
          {{ .Material }}</a></td>
      <!-- <td class="centerAlign">{{ humanDate .Created }}</td> -->
      <td class="center-text">{{ .Priority }}</td>

      {{ if $att }}
      <td class="right-text">{{ .Status }}</td>
      {{ end }}

      {{ if $aff }}
      <td class="right-text">{{ .Status }}</td>
      {{ end }}

      {{ if $res }}
      <td class="right-text">{{ .Status }}</td>
      {{ end }}

      {{ if $arch }}
      <td class="right-text">{{ .Status }}</td>
      {{ end }}
    </tr>
    {{ end }}
    <!-- End Infos table -->
    {{ else }}
    <p>Poste Source Prope...</p>
    {{ end }}
  </table>
  </div>
  <div>
    <form action="/source/{{ .Source.ID }}/info/create">
      <button name="createInfo" class="button is-info is-light">Créer Curatif</button>
    </form>
  </div>
</div>
<!-- The ids are @ Misc Parameters -->
<div>
  {{ if .Infos }}
  {{ else }}
  <form action="/source/delete/{{ .Source.ID }}" method="POST">
    <button type="submit" class="delete-btn">
      <img src="/static/img/icone_corbeille.png" class="delete-img">
  </form>
  {{ end }}
</div>
{{ end }}
