{{ define "title" }}{{ .Source.Name }}{{ end }}

{{ define "nav" }}
<nav>
  <a href="/"><img class="iconeWidth"
                   src="/static/img/icone_maison.png">
  </a>
  <a href="/source/view/{{ .Source.ID }}">
    <img class="iconeWidth" src="/static/img/icone_fleche.png">
  </a>
</nav>
{{ end }}

{{ define "main" }}
<form action="/source/update/{{ .Source.ID }}" method="POST">
  <div>
    <label id="myLabel">Nom</label>
    <br>
    <input value="{{ .Source.Name }}" id="inpt"
           type="text" name="name" autofocus>
  </div>
  <div>
    <button id="srcBtn" type="submit">Soumettre</button>
  </div>
</form>
{{ end }}
