{{ define "title" }}{{ .Source.Name }}{{ end }} {{ define "nav" }}
<nav id="navHome">
  <div>
    <a href="/"
      ><img class="iconeWidth" src="/static/img/icone_maison.png"
    /></a>
  </div>
  <div>
    <a href="/source/view/{{ .Source.ID }}">
      <img class="iconeWidth" src="/static/img/icone_fleche.png" />
    </a>
  </div>
</nav>
{{ end }} {{ define "main" }}
<form
  name="srcInpt"
  action="/source/update/{{ .Source.ID }}"
  onsubmit="return checkInpt()"
  method="POST"
  required
>
  <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
  <label class="title blockMargin">Nom du Poste Source:<br /></label>
  <input
    value="{{ .Source.Name }}"
    type="text"
    name="name"
    class="inpt-create blockMargin"
  /><br />
  <input type="submit" value="Soumettre" class="button-submit blockMargin" />
</form>
{{ end }}
