{{define "title" }}{{ .Source.Name }}{{ end }}

{{ define "nav" }}
<nav id="navHome">
  <div>
    <a href="/"><img class="iconeWidth" src="/static/img/icone_maison.png">
    </a>
  </div>
  {{ if .IsAuthenticated }}
  <div>
    <a href="/source/update/{{ .Source.ID }}"><img class="iconeWidth" src="/static/img/icone_edition.png"></a>
  </div>
  {{ end }}
</nav>
{{ end }} <!-- nav -->

{{ define "main" }}
{{ with .Cree }}
<div class="cree">{{ . }}</div>
{{ end }}

{{ with .Source }}
<div class="margin">
  <h2 class="ps-title">{{ .Name }}</h2>
  <br>
  {{ end }}
  <div>

    {{ if .Infos }}
    <div>
      <input class="search-info top-margin" id="search_status" onkeyup="search_status()"
        placeholder="Chercher des status...">
    </div>
    {{ if .IsAuthenticated }}
    <div>
      <form action="/source/{{ .Source.ID }}/info/create">
        <button name="createInfo" class="button is-info is-light">Créer Curatif</button>
      </form>
    </div>
    {{ end }}

    <table id="myTable">
      <!-- id @ "Home Page section" border-bottom -->


      <tr>
        <th class="left-text narrow-width"><strong>Ouvrage</strong></th>
        <th class="center-text large-width"><strong>Détail</strong></th>
        <th class="center-text narrow-width"><strong>Priorité</strong></th>
        <th class="right-text narrow-width"><strong>Status</strong></th>
      </tr>
      <!-- Infos table -->
      {{ range .Infos }}

      {{ $aRealiser := eq .Status "A réaliser" }}
      {{ $enAttente := eq .Status "En attente" }}

      {{ $enCours := eq .Status "En cours" }}
      {{ $aff := eq .Status "Affecté" }}

      {{ $res := eq .Status "Réalisée" }}
      {{ $reso := eq .Status "Résolu" }}

      {{ $arch := eq .Status "Archivé" }}

      <tr>
        {{ if .Ouvrage }}
        <td class="left-text narrow-width"><a href="/source/{{ .SourceID }}/info/view/{{ .ID }}">{{ .Ouvrage }}</a></td>
        {{ else }}
        <td class="left-text narrow-width"><a href="/source/{{ .SourceID }}/info/view/{{ .ID }}">{{ .ID }}</a></td>
        {{ end }}

        <td class="center-text large-width">{{ .Detail }}</td>

        <td class="center-text large-width">{{ .Priorite }}</td>

        {{ if $aRealiser }}
        <td class="right-text statusWait narrow-width">{{ .Status }}</td>
        {{ else if $enAttente }}
        <td class="right-text statusWait narrow-width">{{ .Status }}</td>
        {{ end }}

        {{ if $enCours }}
        <td class="right-text statusAffected narrow-width">{{ .Status }}</td>
        {{ else if $aff }}
        <td class="right-text statusAffected narrow-width">{{ .Status }}</td>
        {{ end }}

        {{ if $res }}
        <td class="right-text statusDone narrow-width">{{ .Status }}</td>
        {{ else if $reso }}
        <td class="right-text statusDone narrow-width">{{ .Status }}</td>
        {{ end }}

        {{ if $arch }}
        <td class="right-text statusArchived narrow-width">{{ .Status }}</td>
        {{ end }}
      </tr>
      {{ end }}
      <!-- End Infos table -->
      {{ else }}
      <p>Poste Source Prope...</p>

      {{ if .IsAuthenticated }}
      <form action="/source/{{ .Source.ID }}/info/create">
        <button name="createInfo" class="button is-info is-light">Créer Curatif</button>
      </form>
      {{ end }}
      {{ end }}
    </table>
  </div>

</div>
<!-- The ids are @ Misc Parameters -->
<div>
  {{ if .IsAuthenticated }}
  {{ if .Infos }}
  {{ else }}
  <form action="/source/delete/{{ .Source.ID }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
    <button id="check-delete" type="submit" class="delete-btn">
      <img src="/static/img/icone_corbeille.png" class="delete-img">
  </form>
  {{ end }}
  {{ end }}
</div>
{{ end }}
