{{ define "title" }}{{ .Source.Name }}{{ end }}

{{ define "nav" }}
<nav>
    <a href="/"><img class="iconeWidth" src="/static/img/icone_maison.png"></a>
</nav>
{{ end }}

{{ define "main" }}
    {{ with .Source }}
    <div id="srcName">
        <strong>{{ .Name }}</strong>
        <div class="rightAlign">
            <input id="searchStatus" onkeyup="searchStatus()" placeholder="Chercher des status...">
        </div>
    {{ end }}
        <div id="srcInfos">
            <table id="myTable">
            {{ if .Infos }}
                <!-- id @ "Home Page section" border-bottom -->
                <tr id="brdBttn">
                    <th><strong>Ouvrage</strong></th>
                    <!-- <th class="centerAlign"><strong>Créé le</strong></th> -->
                    <th class="rightAlign"><strong>Status</strong></th>
                </tr>
                <!-- Infos table -->
                {{ range .Infos }}

                {{ $att := eq .Status "en attente" }}
                {{ $aff := eq .Status "affecté" }}
                {{ $res := eq .Status "résolu"}}
                {{ $arch := eq .Status "archivé"}}

                <tr>
                    <td><a href="/source/{{ .SourceID }}/info/view/{{ .ID }}">{{ .Material }}</a></td>
                    <!-- <td class="centerAlign">{{ humanDate .Created }}</td> -->

                    {{ if $att }}
                    <td id="statusWait">{{ .Status }}</td>
                    {{ end }}
        
                    {{ if $aff }}
                    <td id="statusAffected">{{ .Status }}</td>  
                    {{ end }}
        
                    {{ if $res }}
                    <td id="statusDone">{{ .Status }}</td>
                    {{ end }}
        
                    {{ if $arch }}
                    <td id="statusArchived">{{ .Status }}</td>
                    {{ end }}
                </tr>
                {{ end }}
                <!-- End Infos table -->
                {{ else }}
                <p>Poste Source Prope...</p>
            {{ end }}
            </table>
        </div>
        <div id="createInfo">
            <form action="/source/{{ .Source.ID }}/info/create">
                <button id="infoBtn" name="createInfo">Créer Curatif</button>
            </form>
        </div>
    </div>
    <!-- The ids are @ Misc Parameters -->
    <div id="container">
        {{ if .Infos }}
        {{ else }}
            <form action="/source/delete/{{ .Source.ID }}" method="POST">
                <button type="submit" id="wastebin">&#128465;</button>
            </form>
        {{ end }}
    </div>
{{ end }}