screenshots
csvFiles/
Dockerfile
launch
main
source.json
TODO
ui/static/sass/main.css
ui/static/sass/main.css.map
ui/static/img/wall_dark_mode.png
ui/static/img/wall_grey_mode.png
ui/static/img/wall_light_mode.png
ui/static/img/wall_1a.png
ui/static/img/vial-virus-solid.svg
ui/static/img/chart-simple-solid.svg
ui/static/img/petit_icone.png
# ui/html/pages/pageTest.gotpl.html
ui/html/pages/charts.gotpl.html
