@charset "utf-8";
@import "./@mdi/font/css/materialdesignicons.min.css";
@import "./mybulma/bulma.sass";
@import "../js/node_modules/billboard.js/dist/billboard.css";

/*******************
 * BULMA VARIABLES *
 *******************/
$file-border-color: none;
$file-cta-background-color: none;

/***********************
 * BULMA VARIABLES END *
 ***********************/

/****************
 * MY VARIABLES *
 ****************/

/********************
 * MY VARIABLES END *
 ********************/
div.flash {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #34495E;
  padding: 18px;
  margin-bottom: 36px;
  text-align: center;
}

div.cree {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #2ecc71;
  padding: 18px;
  margin-bottom: 36px;
  text-align: center;
}

/*******
 * NAV *
 *******/
#navHome {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

nav .upload-icon-size {
  font-size: 3rem;
}

nav div {
  display: flex;
}

nav span {
  color: black;
  align-content: center;
}

nav .iconeWidth {
  width: 3rem;
}

nav .fileSize {
  font-size: 1.35rem;
}

nav .user_div {
  margin-left: auto;
}

nav .user {
  align-content: center;
  margin-right: 1rem;
}

nav .logout {
  padding: 1rem 0;
  border: transparent;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  color: #485fc7;
}

nav .csv-upload>input {
  display: none;
}

nav .csv-hover {
  cursor: pointer;
}

nav input[type="file"] {
  display: none;
}

nav .custom-file-button {
  cursor: pointer;
}

/***********
 * NAV END *
 ***********/

/**********
 * HEADER *
 **********/

#header {
  margin-bottom: 1rem;
}

/**************
 * HEADER END *
 **************/

/********
 * HOME *
 ********/

/************
 * HOME END *
 ************/

/********
 * GRID *
 ********/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 11rem));
}

.grid-container div {
  padding: 0.625rem;
}

.grid-container button {
  width: 100%;
}

/************
 * GRID END *
 ************/


#page-header {
  padding: 1rem;
}

#header {
  background-image: -webkit-linear-gradient(left, #96cd32 15%, #1423cd 30%, #1423cd 100%);
  background-size: 100% 0.6rem;
  background-repeat: no-repeat;
  padding-top: 1rem;
  text-align: center;

  /* Temporaire, délimitation des divs*/
  // border-bottom: 0.063rem solid;
}

#myPlot {
  margin-left: auto;
  margin-right: auto;
}

/*****************
 * CREATION PAGE *
 *****************/
.blockMargin {
  margin: 0 0 0.5rem 0.5rem;
}

.ps-title {
  font-size: 3rem;
  font-style: bold;
  text-align: center;
}

.inpt {
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
}

.inptAlert {
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  border-color: red;
}

.hidden {
  display: none;
}

/*********************
 * CREATION PAGE END *
 *********************/

/*************
 * VIEW PAGE *
 *************/
.search-info {
  background-image: url("/static/img/loupe.png");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: left center;
  font-size: 1rem;
  padding: 0.75rem 1.25rem 0.75rem 2.5rem;
  margin-bottom: 0.5rem;
}

table {
  width: calc(100% / 2);
  border-collapse: collapse;
  table-layout: fixed;
  margin: 1rem auto;
}

th,
td {
  padding: 1rem;
}

th {
  background: #e4e5e7;
  font-weight: bold;
  text-align: left;
}

td {
  border-top: 0.063rem solid white;
  background: #f7f9fa;
}

.margin {
  margin: 0 1rem;
}

top-margin {
  margin-top: 1rem;
}

.no-match {
  display: none;
}

.center-text {
  text-align: center !important;
}

.right-text {
  text-align: right !important;
  padding-right: 0.5rem;
}

.left-text {
  padding-left: 0.5rem;
}

.statusWait {
  color: #c0392b;
}

.statusAffected {
  color: #c0732b;
}

.statusDone {
  color: #4eb722;
}

.statusArchived {
  color: #1423dc;
}

.statusWait,
.statusAffected,
.statusDone,
.statusArchived {
  text-align: right !important;
  padding-right: 0.5rem;
}

.narrow-width {
  width: 5rem;
}

.large-width {
  width: 40rem;
}

/*****************
 * VIEW PAGE END *
 *****************/

/***********
 * BUTTONS *
 ***********/
.green-btn {
  background-color: #99cc33 !important;
  color: white;
}

.turquoise-btn {
  background-color: #33cccc !important;
}

.blue-btn {
  background-color: #0080ff !important;
  color: white;
}

.yellow-btn {
  background-color: #fff000 !important;
}

.orange-btn {
  background-color: #ff7f00 !important;
  color: white;
}

.red-btn {
  background-color: #cc1111 !important;
  color: white;
}


@keyframes glowing {
  0% {
    background-color: #db0707;
    box-shadow: 0 0 0.313rem #db0707;
  }

  50% {
    background-color: #f72525;
    box-shadow: 0 0 1.25rem #f72525;
  }

  100% {
    background-color: #db0707;
    box-shadow: 0 0 0.313rem #db0707;
  }
}

.warning-btn {
  animation: glowing 1200ms infinite;
}

.delete-img {
  height: 3rem;
}

.delete-btn {
  border: transparent;
  background: none;
  cursor: pointer;
  padding: 0;
}

/***************
 * BUTTONS END *
 ***************/

/*********
 * GRAPH *
 *********/
.graphClass {
  display: flex;
  width: 100%;
  max-width: 42.75rem;
}

.myGrid {
  display: flex;
}

/*************
 * GRAPH END *
 *************/


/*********
 * USER  *
 *********/
.error {
  color: #C0392B;
  font-weight: bold;
  display: block;
}

.error+textarea,
.error+input {
  border-color: #C0392B !important;
  border-width: 2px !important;
}

.sign {
  text-align: center;
  margin-bottom: 1rem;
}

form input[type="text"],
form input[type="nni"],
form input[type="password"],
form input[type="email"] {
  padding: 0.75rem 1rem;
  width: 15%;
  font-size: 1rem;
}

form input[type=text],
form input[type="nni"],
form input[type="password"],
form input[type="email"],
textarea {
  color: #6A6C6F;
  background: #FFFFFF;
  border: 1px solid #E4E5E7;
  border-radius: 3px;
}

a.button,
input[type="submit"] {
  background-color: #62CB31;
  border-radius: 3px;
  color: #FFFFFF;
  // padding: 18px 27px;
  border: none;
  display: inline-block;
  margin-top: 18px;
  font-weight: 700;
  font-size: 1rem;
}

a.button:hover,
input[type="submit"]:hover {
  background-color: #4EB722;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

/************
 * USER END *
 ************/
