@charset "utf-8";
@import "https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css";

/*******************
 * BULMA VARIABLES *
 *******************/
$file-border-color: none;
$file-cta-background-color: none;

/***********************
 * BULMA VARIABLES END *
 ***********************/

/****************
 * MY VARIABLES *
 ****************/

/********************
 * MY VARIABLES END *
 ********************/

/*******
 * NAV *
 *******/
#navHome {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.upload-icon-size {
    font-size: 3rem;
}

nav {
    display: flex;
}

nav span {
    color: black;
    align-content: center;
}

nav .iconeWidth {
    width: 3rem;
}

nav .fileSize {
    font-size: 1.35rem;
}
/***********
 * NAV END *
 ***********/

/********
 * GRID *
 ********/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,11rem));
}

.grid-container div {
    padding: 0.625rem 0.625rem;
}

.grid-container button {
    width: 100%;
}
/************
 * GRID END *
 ************/


#page-header {
    padding: 1rem;
}

#header {
    background-image: -webkit-linear-gradient(left, #96cd32 15%, #1423cd 30%, #1423cd 100%);
    background-size: 100% 0.6rem;
    background-repeat: no-repeat;
    padding-top: 1rem;
    text-align: center;

    /* Temporaire, délimitation des divs*/
    // border-bottom: 0.063rem solid;
}

/*****************
 * CREATION PAGE *
 *****************/
.blockMargin {
    margin: 0 0 0.5rem 0.5rem;
}

.title {
    font-size: 1.5rem;
}

.inpt {
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
}

.hidden {
    display: none;
}
/*********************
 * CREATION PAGE END *
 *********************/

/*************
 * VIEW PAGE *
 *************/
.search-info {
    background-image: url("/static/img/loupe.png");
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: left center;
    font-size: 1rem;
    padding: 0.75rem 1.25rem 0.75rem 2.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 1rem;
}

th {
    background: #e4e5e7;
    font-weight: bold;
    text-align: left;
}

td {
    border-top: 0.063rem solid white;
    background: #f7f9fa;
}

.margin {
    margin: 0 1rem;
}

top-margin {
    margin-top: 1rem;
}

/*****************
 * VIEW PAGE END *
 *****************/

/***********
 * BUTTONS *
 ***********/
.green-btn {
    background-color: #96cd32 !important;
}

.yellow-btn {
    background-color: yellow !important;
}

.orange-btn {
    background-color: orange !important;
}

@keyframes glowing {
    0% {
        background-color: #db0707;
        box-shadow: 0 0 0.313rem #db0707;
    }
    50% {
        background-color: #f72525;
        box-shadow: 0 0 1.25rem #f72525;
    }
    100% {
        background-color: #db0707;
        box-shadow: 0 0 0.313rem #db0707;
    }
}

.red-btn {
    animation: glowing 1200ms infinite;
}

.delete-img {
    height: 4rem;
}

.delete-btn {
    border: transparent;
    background: none;
}
/***************
 * BUTTONS END *
 ***************/

/*********
 * GRAPH *
 *********/
.graphClass {
    display: flex;
    width: 100%;
    max-width: 42.75rem;
}

.myGrid {
    display: flex;
}
/*************
 * GRAPH END *
 *************/

@import "./mybulma/bulma.sass";

// elements
// @import "./mybulma/sass/elements/_all.sass";

// form
// @import "./mybulma/sass/form/_all.sass";

// utilities
// @import "./mybulma/sass/utilities/extends.sass";

// @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
